.card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #ece9e9;
    padding: 40px 0;
    text-align: center;
    justify-content:center;
  }
  .container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    border-radius: 5px;
    position: relative;
    justify-content:center;
    text-align: center;
  }
  
  